<section class="deneb_project project_v2 section_padding" id="project">
<div class="container">
<div class="row">
	<div class="col-lg-12">
		<div class="section_title text-center">
			<h2>{{ page.blog.heading }}</h2>
			<p>{{ page.blog.description }}</p>
		</div>
	</div>
</div>

<div id="substack-feed-container">
  <div id="substack-feed-embed"></div>
</div>

<script>
  window.SubstackFeedWidget = {
    substackUrl: "hatchlabs.substack.com",
    posts: 12,
    layout: "center",
    hidden: ["reactions", "comments"],
  };
</script>
<script src="https://substackapi.com/embeds/feed.js" async></script>
