<!-- Start deneb_service section -->
<section class="service_wrapper section_padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="service_tab_wrap">
          <div class="service_tab_nav">
            <ul class="nav nav-tabs">
              {% assign sorted_services = site.services | sort:"order" %}
              {% for service in sorted_services %}
                  <li class="nav-item">
                <a class="nav-link {{service.active}}" data-toggle="tab" href="#{{service.service_id}}"><img src="{{service.icon}}" alt="{{service.title}}"><span>{{service.title}}</span></a>
                  </li>
              {% endfor %}
            </ul>
          </div>
          <!-- Tab panes -->
          <div class="tab-content">
          {% assign sorted_services = site.services | sort:"order" %}
          {% for service in sorted_services %}
          <div id="{{service.service_id}}" class="tab-pane {{service.active2}}">

            <!-- Start service_feature -->
            <section class="service_feature">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="section_title text-center">
                      <h2>{{ service.title }}</h2>
                      <p>{{ service.content }}</p>
                    </div>
                  </div>
                </div>
                <div class="feature_wrapper">
                  {% for item in service.contents %}
                  <div class="single_feature">
                    <div class="row align-items-center">
                      <div class="col-lg-6">
                        <div class="deneb_img_box simple" style="background-image: none">
                          <img src="{{item.image}}" class="img-fluid simple" alt="">
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="deneb_content_box">
                          <div class="icon">
                            <img src="{{item.icon}}" alt="">
                          </div>
                          <div class="info">
                            <h3>{{ item.title }}</h3>
                            <p>{{ item.text }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </section>
            <!-- End deneb_feature -->
              </div>
          {% endfor %}
          </div>
          <!-- tab pane -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End deneb_service section -->
